.badge {
  border-radius: 3px;
  font-size: $font-size-sm;
}

.badge-pill {
  border-radius: 6px;
}

.badge-rect {
  border-radius: 0;
}

@each $color, $value in $theme-colors {
  $color-hover: color-yiq($value);

  .badge-outline-#{$color} {
    color: $value;
    border: $border-width solid $value;
  }
}
