.footer {
  &__about {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  &__copyright {
    font-size: $h2-font-size;
    line-height: 32px;
    letter-spacing: -0.3px;
  }

  &__contacts {
    display: flex;
    flex-flow: column nowrap;
  }

  &__mobile {
    margin: 0;
    line-height: 1;
    color: rgba($body-color, .9);
  }

  &__email {
    margin: 0 0 30px;
    line-height: 1;
    color: rgba($body-color, .9);
  }

  &__credits {
    margin: 0;
    color: rgba($body-color, .9);
    font-size: $font-size-sm;
  }

  &__list li {
    line-height: 1;
  }

  &__link {
    color: rgba($link-color, .9);
    font-size: $font-size-sm;

    @include hover {
      color: rgba(darken($link-hover-color, 15%), .9);
      text-decoration: $link-hover-decoration;
    }
  }
}
