.subscribe {
  $bg: white;
  $color: rgba(black, .1);

  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-flow: row nowrap;

  width: 100%;
  min-height: 96px;

  background-color: $bg;

  &__submit {
    display: inline-block;

    margin: 1px;
    padding: 24px;

    text-transform: uppercase;

    color: $color;
    border: none;

    font-size: $h2-font-size;

    cursor: pointer;

    background-color: $bg;

    &:focus {
      outline-color: black;
    }

    &:hover {
      background-color: darken($bg, 5%);
      color: darken($color, 5%);
    }

    &:active {
      background-color: darken($bg, 10%);
      color: darken($color, 10%);
    }
  }

  &__input {
    min-width: 200px;
    flex-grow: 1;
    padding: 0px 24px;
    font-size: $h2-font-size;
    text-transform: uppercase;
    color: black;
    border: none;

    &::placeholder {
      color: rgba(black, .1);
    }

    &:invalid {
      outline: 0;
      box-shadow: none;
    }

    &:focus {
      background: darken($bg, 2%);
    }
  }
}
