{% import "blocks/btn-panel.njk" as btn %}

<div class="footer container">
    <div class="footer__row row no-gutters-fluid">
        <footer class="col-md-2 col-4">
            <div class="container h-100">
                <div class="row section h-100">
                    <div class="col-md-2 col-4 footer__block-copyright">
                        <p class="footer__copyright">© Spika Concert Agency 2018</p>
                    </div>
                    <div class="col-md-2 col-4 footer__block-social">
                        <ul class="footer__list list-unstyled mb-4">
                            <li>
                                <a class="footer__link" href="#">Афиша</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">Архив</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">Блог</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">Контакты</a>
                            </li>
                        </ul>

                        <ul class="footer__list list-unstyled mb-4">
                            <li>
                                <a class="footer__link" href="#">VK</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">Instagram</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">Facebook</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 col-4 footer__block-feedback">
                        <div class="footer__contacts">
                            <p class="footer__mobile">
                                <a href="tel:84959098842" class="footer__link">8-495-909-88-42</a>
                            </p>
                            <p class="footer__email">
                                <a href="mailto:spika.office@gmail.com" class="footer__link footer__link-email">spika.office@gmail.com</a>
                            </p>
                            <p class="footer__credits">Website credits</p>
                        </div>
                    </div>
                    <div class="col-md-2 col-4 footer__block-account">
                        <ul class="footer__list list-unstyled mb-4">
                            <li>
                                <a class="footer__link" href="#">Личный кабинет</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">Сообщить об ошибке</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">Соглашение</a>
                            </li>
                            <li>
                                <a class="footer__link" href="#">Вакансии</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div class="col-md-2 col-4">
            {{ btn.make('О нас', 'footer__about-text btn-panel--contrast') }}
        </div>
    </div>
</div>
