<div class="jumbotron">
  <ul class="jumbotron__carousel">
    <li class="jumbotron__slide" style="background-image: url(assets/imgs/jumbotron-carousel-slide-1.jpg)">
      <p class="jumbotron__heading-container">
        <span class="h1 jumbotron__heading">MAX & IGGOR CAVALERA</span>
      </p>
      <a href="#" class="btn-link jumbotron__link">Подробнее</a>
    </li>

    <li class="jumbotron__slide" style="background-image: url(assets/imgs/jumbotron-carousel-slide-2.jpg)">
      <p class="jumbotron__heading-container">
        <span class="h1 jumbotron__heading">TURMION KÄTILÖT</span>
      </p>
      <a href="#" class="btn-link jumbotron__link">Подробнее</a>
    </li>

    <li class="jumbotron__slide" style="background-image: url(assets/imgs/jumbotron-carousel-slide-1.jpg)">
      <p class="jumbotron__heading-container">
        <span class="h1 jumbotron__heading">MAX & IGGOR CAVALERA</span>
      </p>
      <a href="#" class="btn-link jumbotron__link">Подробнее</a>
    </li>
  </ul>
</div>
