<!-- begin newsletter -->
<div class="container">
    <div class="row no-gutters-fluid">
        <div class="col">
            <div class="newsletter">
                <a href="#" class="newsletter__link">newsletter</a>
            </div>
        </div>
    </div>
</div>
<!-- end newsletter -->