<form action="/" class="subscribe">
  <input class="subscribe__input" type="email" name="email" value="" placeholder="Email for newsletter">
  <button class="subscribe__submit" type="submit">Subscribe</button>
</form>
