{% extends "layout.njk" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-2">
        {% block left_side %} {% endblock %}
      </div>
      <div class="col-2">
        {% block right_side %} {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
