.page-concert {
  &__image {
    height: 768px;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
  }

  &__about {
    padding-top: 168px;
    padding-bottom: 168px;
    min-height: 768px;
  }

  &__board {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__video {
    width: 100%;
    height: 384px;
    margin-bottom: 100px;
  }
}
