@font-face {
	font-family: 'Adieu';
	src: local('Adieu Regular'), local('Adieu-Regular'), local('AdieuRegular'), local('Adieu'), url('../assets/fonts/Adieu-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
