@font-face {
	font-family: 'PragmaticaExtended';
	src: local('PragmaticaExtended'), local('PragmaticaExtended'), local('PragmaticaExtended'), local('PragmaticaExtended'), url('../assets/fonts/PragmaticaExtended-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

