.concert-board {
  top: 64px;
  position: sticky;

  &__block {
    padding-top: 12px;
    padding-bottom: 19px;
    border-bottom: 1px solid #fff;
    margin: 0;
    @include bp-down(sm) {
      font-size: .78rem;
      padding-bottom: 8px;
    }

    &--badges {
      font-size: $font-size-base;
      min-height: 138px;
      @include bp-down(sm) {
        min-height: 78px;
      }
    }

    &--about {
      display: flex;
      flex-flow: row wrap;
    }

    &--buttons {
      padding-top: 24px;
      border-bottom: none;
    }
  }

  &__heading{
    line-height: .97;
    margin-top: 28px;
    letter-spacing: -0.15rem;
    @media (max-width: 940px) {
      letter-spacing: 0.03rem;
      margin-top: 12px;
    }
  }

  &__city {
    flex-grow: 1;
  }

  &__place {
    width: 100%;
    text-align: right;
    color: rgba($body-color, .4);
  }

  &__form {
    display: flex;
  }

  &__label {
    margin-right: 24px;
    @include bp-down(sm) {
      font-size: .78rem;
    }
  }

  &__radio {

  }

  &__ticket-count {
    @include bp-down(sm) {
      font-size: .78rem;
    }
  }

  &__price {
    margin-left: auto;
    @include bp-down(sm) {
      font-size: .78rem;
    }
  }

  &__play {
    font-family: sans-serif;
  }
}
