{% set filters = ['City', 'Date', 'Price', 'Genre'] %}

{% macro make() %}
  <ul class="filter">
    {% for f in filters %}
      <li class="filter__item">
        <a href="#" class="filter__link{{ ' filter__link--contrast' if loop.index === filters.length }}">
          <span class="filter__name">{{ f }}</span>
          <i class="filter__icon"></i>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
