{% import "blocks/blog-card.njk" as blogMaker %}

{% extends "layout.njk" %}
{% set page = 'blog-page' %}
{% set blogs = datasets.get('blogs.json') %}

{% block content %}

  <div class="container blog-page__content">
    <div class="row">
      <div class="col-4">
        <div class="blog-page__date">
          06.07.18
        </div>
        <h1 class="blog-page__title h1">
          Who killed XXXTENTA&shy;CION?
        </h1>
        <div class="blog-page__descr text-transform-none">
          <span>American rapper XXXTentacion, real name Jahseh Dwayne Ricardo Onfroy, was shot and killed in an apparent robbery...</span><a href="#" class="blog-page__link">read more</a>
        </div>
      </div>
    </div>
    <div class="row blog-page__blogs">
      {% for blogCol in blogs | slice(2) %}
        <div class="col-4 col-lg-2">
          {% for blog in blogCol %}
            {{blogMaker.makeBlogCard(blog)}}
          {% endfor %}
        </div>
      {% endfor %}
    </div>

  </div>

  {% include "partials/newsletter.njk" %}

{% endblock %}
