{% extends "layout.njk" %}

{% set page = 'concert-page' %}

{% block content%}
  <div class="container">
    <div class="row no-gutters-fluid">
      <div class="col-2">
        <div class="page-concert__image" style="background-image: url(assets/imgs/concert-page-placeholder.jpg)"></div>
        <div class="page-concert__about bg-white text-dark">
          <div class="container">
            <div class="row">
              <p class="h2 col-4 text-center text-transform-none">
                The Vintage Caravan are a rock band from Álftanes, Iceland. The band was formed in 2006 by Óskar Logi Ágústsson and Guðjón Reynisson before bassist Alexander Örn Númason joined after the first studio album.
              </p>
            </div>
          </div>
        </div>
        <video class="page-concert__video bg-white" controls="controls" poster="assets/imgs/concert-page-video-placeholder.jpg">
          <source src="//ned4ded.github.io/array.io-landing-v-2/www/assets/client-video.mp4" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
          Video tag doesn't support by your browser
        </video>
      </div>

      <div class="col-2">
        <div class="container h-100">
          <div class="row h-100">
            <div class="col-4 page-concert__board">
              <div class="concert-board">
                <h1 class="concert-board__heading">The vintage caravan</h1>
                <p class="concert-board__block concert-board__block--badges">
                  <span class="badge badge-outline-primary">Metal</span>
                  <span class="badge badge-outline-primary">Folk</span>
                </p>
                <p class="concert-board__block concert-board__block--about">
                  <span class="concert-board__city">
                    Saint-Petersburg ↓
                  </span>

                  <span class="concert-board__date">Sept 24, 19:00</span>
                  <span class="concert-board__place">Zil Arena</span>
                </p>
                <p class="concert-board__block">

                </p>
                <p class="concert-board__block concert-board__block--buttons text-right">
                  <a href="#" class="badge badge-primary badge-spread">Audio preview</a>
                  <a href="#" class="badge badge-contrast badge-spread">Buy ticket</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
