{% extends "layout.njk" %}

{% import "partials/main-nav.njk" as nav %}
{% import "partials/filter.njk" as filter %}
{% import "partials/concert-card.njk" as concert %}
{% import "partials/btn-panel.njk" as btn %}

{% block content %}

{{ nav.make('navbar--p--absolute') }}

{% include "partials/jumbotron.njk" %}


<div class="container">
  <div class="row">
    <div class="col-4 mb-6 mt-6">
      {{ filter.make() }}
    </div>

    {% set concerts = datasets.get('concerts') %}

    {% for c in concerts %}
    <div class="col-2{{ ' mb-7' if loop.index <= (concerts.length - 2)}}">
      {{ concert.make(c) }}
    </div>
    {% endfor %}

    <div class="col-4 section">
      {{ btn.make('Больше концертов') }}
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      {% include "partials/subscribe.njk" %}
    </div>
  </div>
</div>

{% endblock %}
