body {
  text-transform: uppercase;
}

@import 'components/utilities';
@import 'components/buttons';
@import 'components/type';
@import 'components/badge';
@import 'components/forms';
@import 'components/grid';
