$primary:    #fff;
$contrast:   rgb(189, 255, 118);
$secondary:  #1a1a1a;
$dark:       black;

$theme-colors: (
  "contrast": $contrast
);

$body-bg:    #000;
$body-color: #fff;

$yiq-text-dark: #000;

$enable-rounded: false;

$spacers: (
  6: 3.5rem,
  7: 8rem
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1366px,
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1318px,
);

$grid-columns: 4;
$grid-gutter-width: 24px;

$border-color: #fff;

$text-muted: #666;

$font-family-sans-serif: "Adieu", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 1.125rem; // 18px
$font-size-sm: .75rem; // 12px
$font-size-lg: 2.25rem; // 36px

$h1-font-size: $font-size-base * 3.78;

$link-hover-decoration: none;

// $input-padding-y:         1.25rem;
// $input-padding-x:         1.5rem;

$input-bg: $secondary;
$input-disabled-bg: darken($secondary, 5%);
$input-color: white;
$input-border-color: $secondary;
$input-focus-border-color: lighten($secondary, 25%);
$input-placeholder-color: white;
